/**
 * Generic stylesheet definition
 *
 * @package randy
 * @author Andrew Sliwinski <andrew@diy.org>
 */

/**
 * Tag definitions
 */
body {
    color: #333;
    background-color: #efefef;
    font-family: Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4 {
    margin: 0px;
    padding: 0px;
}

h2 {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

form {
    font-size: 0.8em;
}

input[type=text], textarea {
    position: relative;
    width: 400px;
	padding: 10px;
	border: 1px solid #a0a0a0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.15);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.15);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

label {
	display: block;
	margin: 0 0 5px 0;
}
label.for-checkbox {
	display: inline;
	margin: 0;
}

/**
 * ID definitions
 */
#base {
    width: 640px;
    margin: 0px auto;
}

#user {
    position: relative;
    top: 46px;
    left: 100%;
    width: 200px;

    margin-left: -220px;
    text-align: right;
}

#actions, #notifications {
    padding: 20px;
    background-color: #fff;
}

#activity {
    height: 600px;
}

#activity p {
    padding-bottom: 10px;
    border-bottom: 1px solid #efefef;
    margin-bottom: 10px;
}

#message-sent {
	font-weight: bold;
	color: #00b157;
	margin-left: 5px;
}

/**
 * Class definitions
 */